button {
    font-size: large;
    padding: 10px 25px;
    background: transparent;
    letter-spacing: 1px;
    color: orange;
    border: 2px dashed orange;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transform: 'translate(-50%, -50%)';
}

h1 {
    font-size: 3em;
}

#modalDiv{
    text-align: center;
}