#head,
#neck,
#corpus,
#leftArmHand,
#bodyCenter,
#rightArmHand,
#leftArm,
#rightArm,
#leftHand,
#rightHand,
#leftLegFoot,
#rightLegFoot,
#leftFoot,
#rightFoot,
.wordLetters {
  position: absolute;
}

#leftArmHand,
#rightArmHand,
#leftArm,
#rightArm,
#leftLegFoot,
#rightLegFoot,
#leftFoot,
#rightFoot,
#head {
  z-index: 1
}

#missedLetters,
#hangman,
#head,
#neck {
  display: block;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/AllerDisplay.ttf");
}

#upperContainer {
  float: left;
}